# Copy this file to .env.local and fill in your Supabase credentials
NEXT_PUBLIC_SUPABASE_URL=https://djupwolgdhxnrlsachnq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRqdXB3b2xnZGh4bnJsc2FjaG5xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg3ODg2NTgsImV4cCI6MjA3NDM2NDY1OH0.iV5ZJgH__IUYXR9ZCFOZhXagin0vbs3DaQaktD4jnAA
NEXT_PUBLIC_SUPABASE_STORAGE_URL=https://djupwolgdhxnrlsachnq.storage.supabase.co/storage/v1/s3